snippet doc "ajout du début du document" Ab
\documentclass[12pt, letterpaper]{article}
\usepackage{tommyTeX}

\begin{document}

	${0}

\end{document}
endsnippet 

snippet pto "document avec page titre" Ab
\documentclass[12pt, letterpaper]{article}
\usepackage{tommyTeX}
\title{${1}}
\cours{${2}}
\prof{${3}}
\dateremise{${4}}
\author{Tommy Roy}
${5}
\maketitlepage

\begin{document}

	${0}

\end{document}
endsnippet


snippet aut "auteur" Ab
\author{${0}}
endsnippet

snippet ref "ref" A
\ref{${1}}
endsnippet

snippet cite "cite" A
\cite{${1}}
endsnippet




snippet today "Date"
`date +%F`
endsnippet

snippet par "paragraphe" bA
\paragraph{${1}} 
endsnippet

snippet sec "section" bA
\section{${1}} 
endsnippet

snippet thm "theorem" bA
\begin{theorem}
	${1}
\end{theorem}
endsnippet
